$primary-color: #4c4947;
$secondary-color: #efefef;
$font-primary: #6ead3a;

.container {
  padding: 4% 15%;
  height: 100%;
  h1 {
    color: $font-primary;
    font-size: 3em;
    text-align: center;
  }
  .search-container__form {
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
  }
  .search-container__input {
    width: 60%;
    background-color: $secondary-color;
    font-size: 1.5em;
  }
  .search-container__button {
    background: $font-primary;
    color: white;
    font-size: 1.5em;
  }
  .results {
    margin: 2% 0;
    .results-divs {
      background: $secondary-color;
      padding: 1% 3%;
      margin: 2% 0;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
